<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuvu - Password OTP</title>
</head>
<body>
    <p style="margin-bottom: 20px;">Dear <strong>{{username}}</strong>,</p> 
    <p>You requested to reset your Vuvu password. </p>
    <p>Please use OTP {{otp}} to reset your password</p>
    <p style="margin-top: 20px;">With Much Love</p>
    <p style="font-style: italic;">Vuvu</p>
    
</body>
</html>