{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit Charges</title>
    {% include 'adminbackend/includes/header.html' %}
</head>
<body>
    <div class="main-container">
        {% include 'adminbackend/includes/topbar.html' %}
        {% if user.is_staff %}
            {% include 'adminbackend/includes/admin-sidebar.html' %}
        {% elif user.is_staff == False and user.is_admin == True %}
            {% include 'adminbackend/includes/customer-support-sidebar.html' %}
        {% endif %}
        

        <!-- Main content -->
        <div class="main-content">
            
            <!-- Table -->
            <div class="table-container">
                <!-- Feedback -->
                {% if messages %}
                {% for message in messages%}
                <div class="feedback-messages {{message.tags}}">
                <p>{{message}}</p>
                </div>
                {% endfor %}
                {% endif %}
                <table>
                  <caption>Deposit Charges</caption>
                  <thead>
                    <tr>
                      <th scope="col">Bank</th>
                      <th scope="col">Charges(%)</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for bank in partnerBanks %}
                    <tr>
                      <td data-label="Bank">{{ bank.bank_name }}</td>
                      <td data-label="Charges(%)">{{ bank.deposit_charges }}%</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table> 
                
                <div class="update-form-container">
                  <p class="header"> Update Bank Charges</p>
                  <form method="POST" action="{% url 'update-bank-charges' %}">
                      {% csrf_token %}
                      <div class="input-group-grid">
                          <label for="bank">Select bank</label><br>
                          <select name="bank" id="" required>
                              {% for bank in partnerBanks %}
                              <option value="{{ bank.bank_name }}">{{ bank.bank_name }}</option>
                              {% endfor %}
                          </select>
                      </div>  
                      <div class="input-group-grid">
                          <label for="discount">Charges(%)</label><br>
                          <input type="text" id="discount" name="deposit_charges" required>                                
                      </div> 
                      <div class="input-group-grid" style="margin-top: 40px;">
                          <input type="submit" name="update" value="Update" class="primary-button">
                      </div>                                                
                  </form>
              </div>
            </div>
            
        </div>
    </div>


    <!-- Scripts -->
    {% include 'adminbackend/includes/scripts.html' %}
</body>
</html>