{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    {% include 'adminbackend/includes/header.html' %}
</head>
<body>
    <div class="main-container">
        {% include 'adminbackend/includes/topbar.html' %}
        {% if user.is_staff %}
            {% include 'adminbackend/includes/admin-sidebar.html' %}
        {% elif user.is_staff == False and user.is_admin == True %}
            {% include 'adminbackend/includes/customer-support-sidebar.html' %}
        {% endif %}

        <!-- Main content -->
        <div class="main-content">
            {% if messages %}
                {% for message in messages%}
                    <div class="feedback-messages {{message.tags}}">
                        <p>{{message}}</p>
                    </div>
                {% endfor %}
            {% endif %}
            <!-- DATA DISCOUNT BULK UPDATE -->
            <div class="update-form-container">
                <p class="header">Add New Story</p>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group-grid">
                        <label for="title">Youtube Video ID</label><br>
                        <input type="text" name="youtube_id" placeholder="Youtube Video ID" maxlength="25" required>
                    </div>
                    <div class="input-group">
                        <textarea name="description" id="" maxlength="96"></textarea>   
                    </div> 
                    <div class="input-group recepient">
                        <input type="submit" name="update" value="Save Story" class="primary-button">
                    </div>
                                            
                </form>
            </div>
            
        </div>
    </div>


    <!-- Scripts -->
    {% include 'adminbackend/includes/scripts.html' %}
</body>
</html>