{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet Funding</title>
    {% include 'adminbackend/includes/header.html' %}
</head>
<body>
    <div class="main-container">
        {% include 'adminbackend/includes/topbar.html' %}
        {% if user.is_staff %}
            {% include 'adminbackend/includes/admin-sidebar.html' %}
        {% elif user.is_staff == False and user.is_admin == True %}
            {% include 'adminbackend/includes/customer-support-sidebar.html' %}
        {% endif %}

        <!-- Main content -->
        <div class="main-content">
            <!-- Search -->
            <form action="" method="GET">
                <div class="input-group">
                    <input type="text" id="recipient"  placeholder="Search Username/Session ID" class="input-element" name="customer">
                    <button class="primary-button .search-btn">search</button>
                </div>
            </form>
            {% if messages %}
                {% for message in messages%}
                    <div class="feedback-messages {{message.tags}}">
                        <p>{{message}}</p>
                    </div>
                {% endfor %}
            {% endif %}
            <!-- Table -->
            <div class="table-container">
                <!-- <p class="sub-info">Total Users: {{totalUser|intcomma}}</p> -->
                <table class="">
                    <caption>Wallet Funding</caption>
                    <thead>
                        <tr>
                        <th scope="col">SN</th>
                        <th scope="col">Username</th>
                        <th scope="col">Method</th>
                        <th scope="col">Session ID</th>
                        <th scope="col">Account No.</th>
                        <th scope="col">Source Acc. No.</th>
                        <th scope="col">Source Acc. Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Bal. Before</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for funding in walletFundings %}
                        <tr>
                        <td data-label="SN">{{forloop.counter}}</td>
                        <td data-label="Username">{{ funding.user.username }}</td>
                        <td data-label="Method"> {{ funding.method }}</td>
                        <td data-label="Session ID"> {{ funding.sessionId }}</td>
                        <td data-label="Account No."> {{ funding.accountNumber }}</td>
                        <td data-label="Source Acc. No."> {{ funding.sourceAccountNumber }}</td>
                        <td data-label="Source Acc Name"> {{ funding.sourceAccountName }}</td>
                        <td data-label="Amount"> ₦: {{ funding.amount|intcomma }}</td>
                        <td data-label="Bal. Before"> ₦: {{ funding.balanceBefore|intcomma }}</td>
                        <td data-label="Bal. After"> ₦: {{ funding.balanceAfter|intcomma }}</td>
                        <td data-label="Date"> {{ funding.created }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- <div class="user-data-export">
                    <p class="header">Export User Data</p>
                    <div class="flex-links"> 
                    <a href="">Last transaction ( 11 days ago)</a> 
                    <a href="">Last transaction ( > 30 days)</a>            
                    <a href="">Active Users( within 10 days)</a>              
                    <a href="">Zero Transactions</a>
                    </div>
                    
                </div>    -->                
            </div>
            <!-- Paginator -->
            <div class="paginator">
                <span>
                    {% if walletFundings.has_previous %}
                    <a href="?{% if customer != ''%}filter={{customer}}&{% endif%}page={{ allUsers.previous_page_number }}">Previous</a>
                    {% else %}
                    <a>Previous</a>
                    {% endif %}
                    
                    {% for i in walletFundings.paginator.page_range %}
                    {% if i <= walletFundings.number|add:5 and i >= walletFundings.number|add:-5 %}
                    {% if walletFundings.number == i %}
                        <a href="#">{{ i }} </a>
                    {% else %}
                        <a href="?{% if customer != ''%}filter={{customer}}&{% endif%}page={{ i }}">{{ i }}</a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    
                    {% if walletFundings.has_next %}
                    <a href="?{% if customer != ''%}filter={{customer}}&{% endif%}page={{ allUsers.next_page_number }}">Next</a>
                    {% else %}
                    <a>Next</a>
                    {% endif %}
                </span>
            </div>
            
        </div>
    </div>


    <!-- Scripts -->
    {% include 'adminbackend/includes/scripts.html' %}
</body>
</html>