{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuvu - Forgot Password</title>
    {% include 'users/includes/header.html' %}
</head>
<body>
    <div class="main-container">
        <div class="forget-password-container">
            <!-- Registered email -->
            <div class="registered-email-section">
                <h2 class="auth-header">Oops! Forgot Password?</h2>
                <p class="tagline">It happens... Please enter your email<br>to reset your password.</p>
                <form action="" method="post" >
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="email" name="email" id="email" placeholder="Enter your email">
                        <div class="validation-container" id="emailValidation" >
                            <p>No record found for this email address</p>
                        </div>
                    </div>                
                    <div class="input-group">
                        <button class="primary-btn disabled" value="Reset Password" id="submitEmail" onclick="" disabled>Submit</button>                    
                    </div>
                </form>
            </div>
            <!-- Password Change form -->
            <div class="form-container" id="passwordChangeForm" style="display: none;">
                <p class="tag">The safety of your account is our priority&#x1F512;</p>
                <form action="" method="post" id="passwordForm">
                    <input type="text" name="confirmationID" id="confirmationID" hidden>
                    <div class="input-group right-float">
                        <input type="text" name="otp" placeholder="Enter OTP" maxlength="6" inputmode="numeric" id="otp">
                        <div class="validation-container" id="otpValidation">
                            <p>Invalid OTP</p>
                        </div>
                    </div>                        
                    <div class="input-group right-float">
                        <input type="password" name="new_password1" placeholder="New Password" id="newPassword1" style="display:block">
                        <div class="validation-container" id="password1Validation" >
                            <p>Password must contain at least 1 capital letter, 1 small letter. 1 number, and be at least 8 characters long</p>
                        </div>
                        <a class="password-reveal" href="javascript:void(0)" data-target="newPassword1">Show</a>
                    </div>
                    <div class="input-group right-float">
                        <input type="password" name="new_password2" placeholder="Confirm New Password" id="newPassword2">
                        <div class="validation-container" id="password2Validation" >
                            <p>Passwords do not match</p>
                        </div>
                        <a class="password-reveal" href="javascript:void(0)" data-target="newPassword2">Show</a>
                    </div>
                    <div class="input-group">
                        <button class="primary-btn disabled" id="submitNewPassword" onclick="" disabled>Submit</button>
                    </div>
                    
                </form>
            </div>
            <!-- Password Reset successful -->
            <div class="reset-successful" style="display: none;">
                <div class="svg-container">
                    <div class="feedback-image-container">
                        <lottie-player src="https://lottie.host/a4b16f7e-e9e7-4cc1-8f34-54f435ea80c5/FmzCUPyAsk.json" background="transparent" speed="1" style="width: 180px; height: 180px" loop autoplay direction="1" mode="normal"></lottie-player>
                    </div>
                </div> 
                <div class="reset-feedback">
                    <p>Your Password Reset Was  <br>Completed Successfully</p>
                    <small>Kindly proceed to login.</small>
                </div>
                
                <a class="primary-btn reset-successful" href="{% url 'login' %}" onclick="">Login</a> 
            </div>

        </div>
        
        
        
    </div>
    <!-- Page Preloader -->
    <div class="loader-overlay">
        <div class="loader"></div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'users/js/password-reset.js' %}?v=1.00"></script>
    
</body>
</html>