{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuvu - Login</title>
    {% include 'users/includes/header.html' %}
</head>
<body>
    <div class="main-container">
        <!-- <div class="brand-image">
            <img src="{% static 'users/images/vuvu-logo-small.png' %}" alt="">
        </div> -->
        <div class="auth-header-container">
            <h2 class="auth-header">Login to Vuvu 🔒</h2>
            <p class="tagline">Always pay bills at a discount, always!</p>
            <!-- <p class="tagline">Please enter username and password <br>to login to your account</p> -->
        </div>
        
        <form action="" method="post" id="lognForm">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="username" id="username" placeholder="Enter username" required>
            </div>
            
            <div class="input-group right-float">
                <input type="password" class="passwordInput" name="password" id="password" placeholder="Enter password" required>
                <a class="password-reveal" href="javascript:void(0)">Show</a>
            </div>
            <p class="forgot-password"><a href="{% url 'forgot-password' %}" onclick="">Forgot Password?</a></p>

            <div class="login-group">
                <p class="auth-prompt">New user? <a href="{% url 'signup' %}" onclick="">Create Account</a></p>
                <!-- <input class="disabled" type="submit" value="Sign In"> -->
                <button class="primary-btn" id="loginBTN" onclick="">Sign In</button>
            </div>  
            {% if messages %}
                <div class="form-errors">
                    {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}          
        
        </form>
        <!-- Page Preloader -->
        <div class="loader-overlay" >
            <div class="loader"></div>
        </div>
        
    </div>
    

    

    <script src="{% static 'users/js/login.js' %}"></script>
    
</body>
</html>