{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuvu - Notifications</title>
    {% include 'users/includes/header.html' %}
</head>
<body>
    <!-- Transaction Form -->
     {% csrf_token %}
    <div class="main-content transasction-page"  style="display: block;">
        <div class="top-section">
            <!-- Header -->
            <div class="services-header flex">    
                <div class="service-info">
                    <p>Notifications</p>
                </div>   
                <a href="{% url 'delete-notifications' %}" onclick="">
                    <div class="clear-btn">
                        <svg width="14px" height="14px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 5.97998C17.67 5.64998 14.32 5.47998 10.98 5.47998C9 5.47998 7.02 5.57998 5.04 5.77998L3 5.97998" stroke="#373737" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97" stroke="#373737" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.85 9.14001L18.2 19.21C18.09 20.78 18 22 15.21 22H8.79002C6.00002 22 5.91002 20.78 5.80002 19.21L5.15002 9.14001" stroke="#373737" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.33 16.5H13.66" stroke="#373737" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.5 12.5H14.5" stroke="#373737" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <p>Clear All</p>
                    </div>
                </a> 
                        
            </div>
        </div>

        <div class="notifications-container">
            {% if totalNotifications > 0 %}
                {% for notification in notifications %}
                    <div class="notification-box">
                        <p class="date-time">{{notification.created|time:"H:ia"}}</p>
                        <p class="date-time">{{notification.created|date:"F d, Y"}}</p>
                        <h5 class="title">{{notification.title}}</h5>
                        <p class="body">{{notification.body}}</p>
                    </div>
                {% endfor %}
            {% else %}
            <div class="notification-box">
                <p class="body">Nothing to find here</p>
            </div>
            {% endif %}
            
        </div>
        
        
         <!-- Bottom Nav -->
        {% include 'users/includes/bottom-navs.html' %}   
        
        <!-- Change Password Modal -->
        <div class="setting-modal" id="changePasswordModal" onclick="">
            <div class="content">
                <!-- <div class="initiate-password-chaange" style="display: none;">
                    <p>For security reasons, a six(6) digits OTP code will be sent to your registered email address to initiate password change on your account</p>
                    <button class="primary-btn" id="sendOTP">Proceed</button>
                </div> -->
                <div class="modal-indicator">
                    <!-- <hr> -->
                </div>
                <div class="form-container" id="passwordChangeForm">
                    <p class="tag">The safety of your account is our priority&#x1F512;</p>
                    <form action="" method="post" id="passwordForm">
                        <div class="input-group right-float">
                            <input type="password" name="old_password" placeholder="Old Password" id="oldPassword">
                            <div class="validation-container" id="oldPasswordValidation">
                            </div>
                            <a class="password-reveal" href="javascript:void(0)" data-target="oldPassword">Show</a>
                        </div>                        
                        <div class="input-group right-float">
                            <input type="password" name="new_password1" placeholder="New Password" id="newPassword1" style="display:block">
                            <div class="validation-container" id="password1Validation" >
                                <p>Password must contain at least 1 capital letter, 1 small letter. 1 number, and be at least 8 characters long</p>
                            </div>
                            <a class="password-reveal" href="javascript:void(0)" data-target="newPassword1">Show</a>
                        </div>
                        <div class="input-group right-float">
                            <input type="password" name="new_password2" placeholder="Confirm New Password" id="newPassword2">
                            <div class="validation-container" id="password2Validation" >
                                <p>Passwords do not match</p>
                            </div>
                            <a class="password-reveal" href="javascript:void(0)" data-target="newPassword2">Show</a>
                        </div>
                        <div class="input-group">
                            <button class="primary-btn disabled" id="submitNewPassword" onclick="" disabled>Submit</button>
                        </div>
                        
                    </form>
                </div>

                <!-- Password change success -->
                 <div class="password-change-success" id="passwordChangeFeedback">
                    <div class="feedback-image-container">
                        <lottie-player src="https://lottie.host/a4b16f7e-e9e7-4cc1-8f34-54f435ea80c5/FmzCUPyAsk.json" background="transparent" speed="1" style="width: 180px; height: 180px" loop autoplay direction="1" mode="normal"></lottie-player>
                    </div>
                    <div class="reset-feedback" id="">
                        <p>Your password was changed <br>successfully</p>
                        <!-- <small>Kindly check you email inbox or <br>spam for confirmation email.</small> -->
                    </div> 
                    <button class="primary-btn" id="closePasswordChange"> Close</button>
                 </div>
                 
                
                
            </div>
        
        </div>
        <!-- Set Transaction PIN -->
        <div class="setting-modal" id="setTransactionPin" onclick="">
            {% csrf_token %}  
            <div class="content">
                <div class="modal-indicator">
                    <!-- <hr> -->
                </div>
                <!-- Set PIN -->
                <div class="row mt-2" id="setNewPIN">
                    <h6 class="header">Transaction PIN</h6>
                    <p class="tag">To complete transactions, please <br> create transaction PIN&#x1F512;</p>
                    <form method="POST" class="setPinForm" id="setPinForm">
                        <div class="pin-container">
                            <div id="setPinwrapper" ></div>
                        </div>
                    </form>
                    <!-- Feedback -->
                    <p class="text-center validationError" id="setpinvalidation"></p>  
                    <div class="spacer"></div>                            
                </div>
                <!-- CONFIRM -->
                <div id="confirmPinSet" style="display: none;">
                        <h6 class="header">Confirm PIN</h6>
                        <p class="tag">Kindly enter the PIN again to<br>confirm transaction PIN&#x1F512;</p>
                        <form role="form" method="POST" class="confirmSetPinForm" id="confirmSetPinForm">              
                            <div class="pin-container">
                                <div id="confirmPinwrapper" ></div>
                            </div>
                        </form>            
                        <p class="validationError" id="confirmSetpinvalidation"></p> 
                        <a href="javascript:void(0)" id="backSetPIN" onclick="">
                            <span><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.0013 20.6695C14.8113 20.6695 14.6213 20.5995 14.4713 20.4495L7.95125 13.9295C6.89125 12.8695 6.89125 11.1295 7.95125 10.0695L14.4713 3.54953C14.7613 3.25953 15.2413 3.25953 15.5312 3.54953C15.8212 3.83953 15.8212 4.31953 15.5312 4.60953L9.01125 11.1295C8.53125 11.6095 8.53125 12.3895 9.01125 12.8695L15.5312 19.3895C15.8212 19.6795 15.8212 20.1595 15.5312 20.4495C15.3813 20.5895 15.1912 20.6695 15.0013 20.6695Z" fill="#292D32"/>
                            </svg>
                            </span>
                            <span>back</span>
                        </a>
                </div>

                <!-- Pin set success -->
                 <div class="password-change-success" id="pinSetFeedback">
                    <div class="feedback-image-container">
                        <lottie-player src="https://lottie.host/a4b16f7e-e9e7-4cc1-8f34-54f435ea80c5/FmzCUPyAsk.json" background="transparent" speed="1" style="width: 180px; height: 180px" loop autoplay direction="1" mode="normal"></lottie-player>
                    </div>
                    <div class="reset-feedback" id="">
                        <p>You have transaction PIN was <br>saved successfully</p>
                        <!-- <small>Kindly check you email inbox or <br>spam for confirmation email.</small> -->
                    </div> 
                    <a href="{% url 'settings' %}" class="primary-btn" id="closePasswordChange"> Close</a>
                 </div>


                 
                
                
            </div>
        
        </div>

        <!-- Update Transaction PIN -->
        <div class="setting-modal" id="updateTransactionPin" onclick="">
            {% csrf_token %}  
            <div class="content">
                <div class="modal-indicator">
                    <!-- <hr> -->
                </div>
                <!-- Old PIN -->
                <div class="" id="oldTransPIN">
                    <h6 class="header">Change Transaction PIN</h6>
                    <p class="tag">To change your PIN kindly provide<br>your old transaction PIN&#x1F512;</p>
                    <form method="POST" class="setPinForm" id="setPinForm">
                        <div class="pin-container">
                            <div id="oldPINWrapper" ></div>
                        </div>
                    </form>
                    <!-- Feedback -->
                    <p class="text-center validationError" id="OldPINValidation"></p>  
                    <div class="spacer"></div>                            
                </div>
                <!-- Set New PIN -->
                <div class="" id="newPIN" style="display: none;">
                    <h6 class="header">New Transaction PIN</h6>
                    <p class="tag">Please enter the new <br> transaction PIN&#x1F512;</p>
                    <form method="POST" class="setPinForm" id="setPinForm">
                        <div class="pin-container">
                            <div id="newPINWrapper" ></div>
                        </div>
                    </form>
                    <!-- Feedback -->
                    <p class="text-center validationError" id="newPINValidation"></p>  
                    <div class="spacer"></div>                            
                </div>
                <!-- CONFIRM -->
                <div id="confirmNewPIN" style="display: none;">
                        <h6 class="header">Confirm PIN</h6>
                        <p class="tag">Kindly enter the PIN again to<br>confirm transaction PIN&#x1F512;</p>
                        <form role="form" method="POST" class="confirmSetPinForm" id="confirmPINForm">              
                            <div class="pin-container">
                                <div id="confirmNewPINWrapper" ></div>
                            </div>
                        </form>            
                        <p class="validationError" id="confirmNewPINValidation"></p> 
                        <a href="javascript:void(0)" id="backNewPIN" onclick="">
                            <span><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.0013 20.6695C14.8113 20.6695 14.6213 20.5995 14.4713 20.4495L7.95125 13.9295C6.89125 12.8695 6.89125 11.1295 7.95125 10.0695L14.4713 3.54953C14.7613 3.25953 15.2413 3.25953 15.5312 3.54953C15.8212 3.83953 15.8212 4.31953 15.5312 4.60953L9.01125 11.1295C8.53125 11.6095 8.53125 12.3895 9.01125 12.8695L15.5312 19.3895C15.8212 19.6795 15.8212 20.1595 15.5312 20.4495C15.3813 20.5895 15.1912 20.6695 15.0013 20.6695Z" fill="#292D32"/>
                            </svg>
                            </span>
                            <span>back</span>
                        </a>
                </div>

                <!-- Pin set success -->
                <div class="password-change-success" id="updatePINFeedback">
                    <div class="feedback-image-container">
                        <lottie-player src="https://lottie.host/a4b16f7e-e9e7-4cc1-8f34-54f435ea80c5/FmzCUPyAsk.json" background="transparent" speed="1" style="width: 180px; height: 180px" loop autoplay direction="1" mode="normal"></lottie-player>
                    </div>
                    <div class="reset-feedback" id="">
                        <p>Your transaction PIN was <br>updated successfully</p>
                        <!-- <small>Kindly check you email inbox or <br>spam for confirmation email.</small> -->
                    </div> 
                    <a href="{% url 'settings' %}" class="primary-btn" id="closePasswordChange"> Close</a>
                 </div>
                
            </div>
        
        </div>
    </div>

    



    <!-- Page Preloader -->
    <div class="loader-overlay">
        <div class="loader"></div>
    </div>

    <div class="loader-overlay" id="linkLoading">
        <div class="loader"></div>
    </div>

    <!-- <script src="{% static 'users/js/transaction-history.js' %}"></script> -->
    <script src="{% static 'users/js/settings.js' %}?v=1.001"></script>
    <script src="{% static 'users/js/main.js' %}"></script>
    
</body>
</html>