{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuvu - Password Reset Link Sent </title>
    {% include 'users/includes/header.html' %}
</head>
<body>
    <div class="main-container">  
        <div class="form-container" id="passwordChangeForm">
            <p class="tag">The safty of your account is our priority&#x1F512;</p>
            <form action="" method="post" id="passwordForm">
                <div class="input-group right-float">
                    <input type="text" name="otp" placeholder="Enter OTP" maxlength="6" inputmode="numeric" id="otp">
                    <div class="validation-container" id="otpValidation">
                    </div>
                </div>                        
                <div class="input-group right-float">
                    <input type="password" name="new_password1" placeholder="New Password" id="newPassword1" style="display:block">
                    <div class="validation-container" id="password1Validation" >
                        <p>Password must contain at least 1 capital letter, 1 small letter. 1 number, and be at least 8 characters long</p>
                    </div>
                    <a class="password-reveal" href="javascript:void(0)" data-target="newPassword1">Show</a>
                </div>
                <div class="input-group right-float">
                    <input type="password" name="new_password2" placeholder="Confirm New Password" id="newPassword2">
                    <div class="validation-container" id="password2Validation" >
                        <p>Passwords do not match</p>
                    </div>
                    <a class="password-reveal" href="javascript:void(0)" data-target="newPassword2">Show</a>
                </div>
                <div class="input-group">
                    <button class="primary-btn disabled" id="submitNewPassword" onclick="" disabled>Submit</button>
                </div>
                
            </form>
        </div>
        
    </div>
    <!-- Page Preloader -->
    <div class="loader-overlay">
        <div class="loader"></div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'users/js/password-reset.js' %}"></script>
    
</body>
</html>